{% extends "layout.html" %}

{% load static %}

{% block title %}Project{% endblock %}

{% block content %}
<div class="itemGroup">
    <h1>Project List</h1>
    <div>
        <br>
        <!-- กำหนด path ไปยังหน้า form สร้าง project -->
        <a href="{% url 'projectForm' %}"><button class="newemp">New Project</button></a>
    </div>

    <!-- for loop แสดงผลข้อมูล project -->
    {% for project in projects %}
    <div class="itemGroup">
        <div class="item">
            <!-- โปรเจค id และ ชื่อ -->
            <div>{{project.id}}. {{project.name}}</div>

            <!-- วันเริ่ม และ วันกำหนดส่งโปรเจค -->
            <div>{{project.start_date}} - {{project.due_date}}</div>

            <div class="action">
                <!-- กำหนด path ให้ถูกต้อง ไปยังหน้า project detail -->
                <a href="{% url 'detail' project.id %}" class="edit btn">แก้ไข</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}